<p class="lead welcome">
  <i class="icon-magic icon-large"></i> Welcome to sachet
</p>

<p class="lead part1">
  <i class="icon-magic icon-large"></i> Customize &rarr; General
</p>

<p class="lead part2">
  <i class="icon-magic icon-large"></i> Customize &rarr; Theme
</p>

<p class="lead part3">
  <i class="icon-magic icon-large"></i> Customize &rarr; Plugins
</p>

<p class="welcome">
  sachet allows you to handcraft your Vim development environment.
  By allowing you to select features and functionality that <b>you</b>
  are comfortable with, sachet generates you a small package with
  the appropriate configuration files, plugins, and theme so you can
  leverage the potential of your Vim editor.
  <hr />
</p>

<p class="part1">Select the built-in options that you would like to enable.</p>

<p class="part2">
  Select the theme that you would like to use.
  <br /><br />
  Note: Some themes require a 256-color terminal to be used. If you are
  using Mac, <a href="http://www.iterm2.com/#/section/home" target="_blank">
    iTerm</a> is a great terminal
  that will suit your needs. For any other *nix distribution, read
  <a href="http://vim.wikia.com/wiki/256_colors_in_vim" target="_blank">
    this article</a> on how to enable 256-color support.
</p>

<p class="part3">Select the plugins that you would like to use.</p>
