<div id="description-heading">
  <p class="step1">Select the built in options that you would like to enable</p>
  <p class="step2"></p>
  <p class="step3"></p>
</div>

<div id="description">
  <p class="step1">Hover over a label for a brief description</p>
  <p class="step2"></p>
  <p class="step3"></p>
</div>
