<h1>Welcome to sachet</h1>
<hr />

<div>
  <h2>Configuration</h2>
  <ul>
    <% configuration.each do |config| %>
      <li>
        <input id="c1" type="checkbox">
          <label for="c1"><%= config['brief'] %>
        </label>
      </li>
    <% end %>
  </ul>
</div>
