<div id="modal-editor-coming-soon" class="reveal-modal">
  <h1><span class="modal-editor-name"></span> is coming soon to sachet.</h1>

  <p>We will notify you when we support <span class="modal-editor-name"></span></p>

  <div class="row-fluid">
    <div class="span12">
      <div class="email-subscribe-form">
        <form action="#" method="post" class="validate" target="_blank" novalidate>
          <div class="span7 email-input">
            <input type="email" name="EMAIL" placeholder="Enter your email to stay up-to-date">
          </div>
          <div class="span2 email-button">
            <input type="submit" value="Subscribe" name="subscribe" class="btn btn-large btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-subscribe-updates" class="reveal-modal">
  <h1>Be the first one to get updates</h1>

  <p>We will notify you when we launch new features</p>

  <div class="row-fluid">
    <div class="span12">
      <div class="email-subscribe-form">
        <form action="http://aam1r.us1.list-manage1.com/subscribe/post?u=4a0df9a7824fdc70faebb3cfa&amp;id=894833b6c9" method="post" class="validate" target="_blank" novalidate>
          <div class="span7 email-input">
            <input type="email" name="EMAIL" placeholder="Enter your email to stay up-to-date">
          </div>
          <div class="span2 email-button">
            <input type="submit" value="Subscribe" name="subscribe" class="btn btn-large btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
