<div id="breadcrumbs">
  <span id="step1-label" class="active">OPTIONS</span>
  &rarr;
  <span id="step2-label">THEMES</span>
  &rarr;
  <span id="step3-label">PLUGINS</span>
</div>

<div id="indicator">
  <div class="completed" style="width: 0;" data-progress="0"></div>
</div>
