<div id="social-strip" class="container-fluid">
  <div class="row-fluid">
    <div id="social-buttons" class="span4">
      <ul>
        <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fyoursachet.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font=segoe+ui&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yoursachet.com" data-text="sachet - Handcraft your Vim environment online">Tweet</a></li>
        <li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://yoursachet.com"></div></li>
      </ul>
    </div>

    <div class="span1 vertical-line"></div>

    <div id="github-buttons" class="span3">
      <ul>
        <li>
          <iframe
            src="http://ghbtns.com/github-btn.html?user=aam1r&repo=sachet&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
        <li>
          <iframe
            src="http://ghbtns.com/github-btn.html?user=aam1r&repo=sachet&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
      </ul>
    </div>
  </div>
</div>
