h1, h2, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
  font-weight: 300;
}
.mid_grey { background-color:#E9E9E9; }
.light_grey { background-color:red; }

/* Header */
#header-container { 
  height: 150px; 
  background-image: url('../img/header.png');
  background-size: cover;
}
#header-container h1, h2 { color: white; }
#header-container h1 { 
  font-size: 50pt;
  margin-top: 45px;
}
#header-container h2 {
  font-weight: 200;
  float: right;
  font-size: 16pt;
  margin-top: -35px;
}
